html, body {
    font-size: 16px;
    color: #616161;
    background: #f5f5f5;
}

.full-height {
    min-height: calc(100vh - 70px);
}

nav {
    background-image: linear-gradient(to right, #2c4b85, #3960b0);
    padding: 0 8px 0 8px;
}

nav .brand-logo {
    max-height: 24px;
    padding: 8px 0;
}

.wrapper {
    background: #fff;
    border: 2px solid #2c4b85;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked,
[type="radio"]:not(:checked), 
[type="radio"]:checked  {
    position: relative !important;
    opacity: 1 !important;
}

.gigya-screen.landscape .gigya-layout-row .gigya-layout-cell.under-site-login {
    width: 100% !important;
    margin-left: 0px !important;
}

select {
    display: block !important;
}